# Python cache files
__pycache__/

# Folders of datasets
inputs/*/*

# Library output files
output*
outputs/

# Folders to ignore
.amlenv
.mypy_cache
log/
etc/
local/
old/
temp/
tmp/

# Miscellaneous
*swp
/.idea
*.pdf
*.png
*.sublime-*
*.zip
.DS_Store
