[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sklearn = "*"
pandas = "*"
mlxtend = "*"
xgboost = "*"
pylint = "*"
matplotlib = "*"
flake8 = "*"
eli5 = "*"
mypy = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.7"
